/* Color Blends */
/* Data Color Patterns - NEW from CVU */
/* Palette A */
/* Palette B */
/* Palette C */
/* Single Hue - A */
/* Single Hue - B */
/* Single Hue - C */
/* Color Scale - A */
/* Color Scale - B */
/* Color Scale - C */
/**
 * Responsive layout breakpoints
 * These are very general breakpoints. It is preferred that specific breakpoints
 * are defined when building (especially unique) elements because the best
 * responsive layouts have specific breakpoint behavior. The extra effort is
 * worthwhile.
 */
/**
 * Number of column sizes produced by our mixin
 * See `mixins.less` and look for `.breakpoint-classes()`
 */
/** Maximum width of a container element. This prevents incredibly wide layouts
 * on larger viewports.
 */
/**
 * Whitespace size of margin/padding per breakpoint
 * It's preffered that you be strict when using these, as they are meant only
 * to provide margin/padding consistency between columns, rows, sections, and
 * other forms of block/component elements. For example, vertical space between
 * two lines of text should be defined based on what is visually pleasing and
 * not using these gutter values. If these values were to change, it could
 * comprimise page elements that were not meant to be part of the change.
 */
/**
 * Generate breakpoint-specific classes
 * See `responsive.less` for usage
 */
/**
 * Generate clear fix properties
 * There are classes available in `layout.less`, but they call this mixin.
 */
@media (min-width: 0px) {
  .sm-1 {
    width: 8.33333333%;
  }
  .sm-2 {
    width: 16.66666667%;
  }
  .sm-3 {
    width: 25%;
  }
  .sm-4 {
    width: 33.33333333%;
  }
  .sm-5 {
    width: 41.66666667%;
  }
  .sm-6 {
    width: 50%;
  }
  .sm-7 {
    width: 58.33333333%;
  }
  .sm-8 {
    width: 66.66666667%;
  }
  .sm-9 {
    width: 75%;
  }
  .sm-10 {
    width: 83.33333333%;
  }
  .sm-11 {
    width: 91.66666667%;
  }
  .sm-12 {
    width: 100%;
  }
}
@media (min-width: 480px) {
  .md-1 {
    width: 8.33333333%;
  }
  .md-2 {
    width: 16.66666667%;
  }
  .md-3 {
    width: 25%;
  }
  .md-4 {
    width: 33.33333333%;
  }
  .md-5 {
    width: 41.66666667%;
  }
  .md-6 {
    width: 50%;
  }
  .md-7 {
    width: 58.33333333%;
  }
  .md-8 {
    width: 66.66666667%;
  }
  .md-9 {
    width: 75%;
  }
  .md-10 {
    width: 83.33333333%;
  }
  .md-11 {
    width: 91.66666667%;
  }
  .md-12 {
    width: 100%;
  }
}
@media (min-width: 960px) {
  .lg-1 {
    width: 8.33333333%;
  }
  .lg-2 {
    width: 16.66666667%;
  }
  .lg-3 {
    width: 25%;
  }
  .lg-4 {
    width: 33.33333333%;
  }
  .lg-5 {
    width: 41.66666667%;
  }
  .lg-6 {
    width: 50%;
  }
  .lg-7 {
    width: 58.33333333%;
  }
  .lg-8 {
    width: 66.66666667%;
  }
  .lg-9 {
    width: 75%;
  }
  .lg-10 {
    width: 83.33333333%;
  }
  .lg-11 {
    width: 91.66666667%;
  }
  .lg-12 {
    width: 100%;
  }
}
.cf:before,
.clear:before,
.clearfix:before,
.clear-fix:before,
.cf:after,
.clear:after,
.clearfix:after,
.clear-fix:after {
  content: ' ';
  display: table;
}
.cf:after,
.clear:after,
.clearfix:after,
.clear-fix:after {
  clear: both;
}
.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
  position: relative;
}
.container:before,
.container:after {
  content: ' ';
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 480px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 960px) {
  .container {
    padding: 0 40px;
  }
}
.column {
  float: left;
}
.row {
  margin-left: -20px;
  margin-top: -20px;
}
.row:before,
.row:after {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}
.row + .row {
  margin-top: 0;
}
@media (min-width: 480px) {
  .row {
    margin-left: -30px;
    margin-top: -30px;
  }
  .row + .row {
    margin-top: 0;
  }
}
@media (min-width: 960px) {
  .row {
    margin-left: -40px;
    margin-top: -40px;
  }
  .row + .row {
    margin-top: 0;
  }
}
.row .column {
  padding-left: 20px;
  padding-top: 20px;
}
@media (min-width: 480px) {
  .row .column {
    padding-left: 30px;
    padding-top: 30px;
  }
}
@media (min-width: 960px) {
  .row .column {
    padding-left: 40px;
    padding-top: 40px;
  }
}
code,
.hljs {
  background-color: #242a38;
  border-radius: 4px;
  color: #fff;
  font-family: Monaco, 'Lucida Sans Typewriter', Consolas, 'Lucida Console', 'Courier New', monospace;
  font-size: 15px;
  padding: 0 5px;
}
code {
  background-color: #e3e5ea;
  border-radius: 3px;
  color: #000;
}
.hljs {
  line-height: 1.75;
  display: block;
  padding: 20px;
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
}
.hljs,
.hljs-tag,
.hljs-subst {
  color: rgba(255, 255, 255, 0.8);
}
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}
.hljs-bullet {
  color: rgba(255, 255, 255, 0.4);
}
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #fff;
}
.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: rgba(255, 255, 255, 0.8);
}
.hljs-strong {
  font-weight: bold;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #ff6b83;
}
.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}
.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}
.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #ffb44d;
}
.hljs-selector-pseudo {
  color: rgba(255, 255, 255, 0.4);
}
.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: rgba(255, 255, 255, 0.3);
}
/*
Markdown
*/
.hljs.markdown * {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: normal;
}
.hljs.markdown .hljs-code {
  color: #fff;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
*,
*:before,
*:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  outline: none;
}
html {
  overflow-y: scroll;
}
html.no-scroll {
  overflow: hidden;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  margin: 0;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
input,
select,
button,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
form {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
input,
select,
textarea {
  color: rgba(0, 0, 0, 0.8);
}
input[type="search"],
select[type="search"],
textarea[type="search"] {
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
  color: #000000;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
input:placeholder-shown,
select:placeholder-shown,
textarea:placeholder-shown {
  color: rgba(0, 0, 0, 0.4);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
form {
  margin: 0;
  padding: 0;
}
pre {
  margin: 0;
}
label {
  cursor: pointer;
}
hr {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  display: block;
  height: 1px;
  margin: 20px auto;
  width: 100%;
}
@media (min-width: 480px) {
  hr {
    margin: 30px auto;
  }
}
@media (min-width: 960px) {
  hr {
    margin: 40px auto;
  }
}
hr.compact {
  width: 50%;
}
a {
  color: #0B7EF4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.jw-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.jw-icon.jw-icon-xs {
  width: 8px;
  height: 8px;
}
.jw-icon.jw-icon-sm {
  width: 16px;
  height: 16px;
}
.jw-icon.jw-icon-med {
  width: 24px;
  height: 24px;
}
.jw-icon.jw-icon-lg {
  width: 32px;
  height: 32px;
}
label {
  color: #fff;
  display: inline-block;
  font-size: 15px;
}
label + input[type="text"],
label + input[type="email"],
label + textarea,
label + select {
  margin-top: 10px;
}
input[type="text"],
input[type="email"],
input[type="search"],
textarea,
select {
  background-color: #fff;
  appearance: none;
  border: solid 2px transparent;
  border-radius: 2px;
  display: inline-block;
  font-size: 15px;
  margin: 0;
  padding: 10px 15px;
  transition: background-color 300ms ease, border-color 300ms ease;
}
input[type="text"].invalid,
input[type="email"].invalid,
input[type="search"].invalid,
textarea.invalid,
select.invalid {
  background-color: #ffedf0;
  border-color: #FF4664;
}
.form-column input[type="text"],
.form-column input[type="email"],
.form-column input[type="search"],
.form-column textarea,
.form-column select {
  width: 100%;
}
select {
  background-image: url('//icons.jwplayer.com/icons/black/expand.svg');
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 12px;
  cursor: pointer;
  padding-right: 33px;
  position: relative;
}
textarea {
  display: block;
  line-height: 1.5;
  resize: vertical;
}
/*
search
*/
.search {
  /**/
}
.search-input {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.search-input::after {
  background-image: url('//icons.jwplayer.com/icons/black/search.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  content: '';
  height: 100%;
  left: 15px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 16px;
  z-index: 2;
}
input[type="search"].search-input-field {
  border-radius: 2px;
  padding-left: 46px;
  padding-right: 37px;
  position: relative;
  transition: padding-left 150ms ease, padding-right 150ms ease;
  z-index: 1;
}
input[type="search"].search-input-field:focus {
  padding-left: 41px;
  padding-right: 42px;
}
.search-input-clear {
  background-color: transparent;
  background-image: url(//icons.jwplayer.com/icons/black/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px;
  border: none;
  content: '';
  display: none;
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 150ms ease;
  width: 40px;
  z-index: 2;
}
.search-input-clear-visible {
  display: block;
  opacity: 0.25;
}
.search-input-clear:hover {
  opacity: 0.5;
}
.search-input-suggestions {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  left: 0;
  list-style: none;
  margin-top: 10px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: left;
  top: 100%;
  transform: translateY(5px);
  transition: opacity 150ms ease, transform 100ms ease, visibility 150ms ease;
  visibility: hidden;
  z-index: 0;
}
.search-input-suggestions-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.search-input-suggestion {
  background-color: white;
  color: #333333;
  display: block;
  font-size: 14px;
  padding: 12px 14px;
  position: relative;
  text-decoration: none;
  transition: backround-color 100ms ease;
}
.search-input-suggestion:hover {
  text-decoration: none;
}
.search-input-suggestions :first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.search-input-suggestions :last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.search-input-suggestion-highlighted {
  background-color: #54a5f7;
  color: #fff;
}
.search-input-suggestion-empty {
  background-color: white;
  color: #999999;
}
.search-buttons {
  display: inline-block;
}
.form-footer {
  margin-top: 20px;
}
@media (min-width: 480px) {
  .form-footer {
    margin-top: 30px;
  }
}
@media (min-width: 960px) {
  .form-footer {
    margin-top: 40px;
  }
}
.form-column {
  float: left;
}
.form-row {
  margin-left: -10px;
  margin-top: -10px;
}
.form-row:before,
.form-row:after {
  content: ' ';
  display: table;
}
.form-row:after {
  clear: both;
}
.form-row .form-column {
  padding-left: 10px;
  padding-top: 10px;
}
@media (min-width: 480px) {
  .form-row {
    margin-left: -15px;
    margin-top: -15px;
  }
  .form-row .form-column {
    padding-left: 15px;
    padding-top: 15px;
  }
}
@media (min-width: 960px) {
  .form-row {
    margin-left: -20px;
    margin-top: -20px;
  }
  .form-row .form-column {
    padding-left: 20px;
    padding-top: 20px;
  }
}
/* ===== overaching classes ===== */
.button {
  background-color: #AAB4C8;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  width: auto;
}
.button:focus {
  color: #fff;
}
.button:hover {
  background-color: #99a2b4;
  text-decoration: none;
}
.btn {
  background-color: #AAB4C8;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  width: auto;
}
.btn:focus {
  color: #fff;
}
.btn:hover {
  background-color: #99a2b4;
}
/* ===== button container ===== */
.btn-set {
  margin: 0 auto;
  vertical-align: middle;
}
/* ===== colors ===== */
.btn.red {
  background-color: #FF0046;
}
.btn.red:hover {
  background-color: #97052D;
}
.btn.blue {
  background-color: #0b7ef4;
}
.btn.blue:hover {
  background-color: #0f4e90;
  color: #fff;
}
.btn.default {
  background-color: #AAB4C8;
}
.btn.default:hover {
  background-color: #99a2b4;
}
/* ===== sizes ===== */
.button-lg {
  font-size: 20px;
  padding: 15px 30px;
}
.button-md {
  font-size: 16px;
  padding: 12px 20px;
}
.button-sm {
  font-size: 13px;
  padding: 10px 15px;
}
.btn.lg {
  font-size: 15px;
  line-height: 20px;
  padding: 10px 20px;
}
.btn.md {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 20px;
}
.btn.sm {
  font-size: 13px;
  line-height: 10px;
  padding: 10px 15px;
}
/* ===== themes ===== */
.button-theme-brand-1 {
  background-color: #FF0046;
}
.button-theme-brand-1:hover {
  background-color: #e6003f;
}
.button-theme-brand-2 {
  background-color: #0B7EF4;
}
.button-theme-brand-2:hover {
  background-color: #0a71dc;
}
/* ===== states ===== */
.button[disabled],
.button-disabled {
  background-color: #D9DDE6;
  color: #AAB4C8;
  cursor: default;
}
.button[disabled]:hover,
.button-disabled:hover {
  background-color: #D9DDE6;
  color: #AAB4C8;
}
a.btn:hover {
  text-decoration: none;
}
.inactive {
  border: solid 2px rgba(170, 180, 200, 0.5);
  color: rgba(170, 180, 200, 0.5);
  padding: 8px 15px;
}
.site-header {
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}
.site-header-container {
  padding: 12px 15px;
}
.site-header-container:before,
.site-header-container:after {
  content: ' ';
  display: table;
}
.site-header-container:after {
  clear: both;
}
.site-header-container .logo {
  display: block;
  float: left;
}
.site-header-container .logo:before,
.site-header-container .logo:after {
  content: ' ';
  display: table;
}
.site-header-container .logo:after {
  clear: both;
}
.site-header-container .logo img {
  display: block;
  float: left;
  height: 38px;
  width: auto;
}
.site-header-container .logo img + img {
  margin-left: 5px;
}
.site-header-container .logo span {
  display: block;
  color: #FFFFFF;
  float: left;
  font-size: 15px;
  font-weight: 700;
  margin: 9px 0 0 10px;
  padding-right: 14px;
  position: relative;
  text-transform: uppercase;
}
.site-header .menu-toggle {
  border: solid 1px #4d4d4d;
  border-radius: 4px;
  color: #fff;
  display: block;
  float: right;
  font-size: 14px;
  font-weight: 700;
  margin-top: 1px;
  padding: 10px 10px 7px;
  text-decoration: none;
  text-transform: uppercase;
}
.site-header .menu-toggle.on {
  border-color: #333333;
  color: #cccccc;
}
.site-header .menu {
  border-top: solid 1px #191919;
  clear: both;
  display: none;
  float: right;
  list-style: none;
  margin-top: 15px;
  padding-top: 15px;
  text-align: left;
  width: 100%;
}
.site-header .menu:before,
.site-header .menu:after {
  content: ' ';
  display: table;
}
.site-header .menu:after {
  clear: both;
}
.site-header .menu.show {
  display: block;
}
.site-header .menu .link {
  color: #cccccc;
  display: block;
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.site-header .menu .btn {
  margin-top: 15px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
}
.site-header .menu img.search-icon {
  margin-top: -2px;
  opacity: 0.8;
}
.site-header .menu img.search-icon:hover {
  opacity: 1;
}
.site-header .menu .menu {
  border-top: solid 1px #191919;
  clear: both;
  display: none;
  float: right;
  list-style: none;
  margin-top: 15px;
  padding-top: 15px;
  text-align: left;
  width: 100%;
}
.site-header .menu .menu:before,
.site-header .menu .menu:after {
  content: ' ';
  display: table;
}
.site-header .menu .menu:after {
  clear: both;
}
.site-header .menu .menu.show {
  display: block;
}
.site-header .menu .menu .link {
  color: #cccccc;
  display: block;
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.site-header .menu .menu .btn {
  margin-top: 15px;
  width: 100%;
  font-size: 13px;
  font-weight: 600;
}
.site-header .menu .menu img.search-icon {
  margin-top: -2px;
  opacity: 0.8;
}
.site-header .menu .menu img.search-icon:hover {
  opacity: 1;
}
/* ===== large screen adjustments
*/
@media (min-width: 800px) {
  .site-header .menu-toggle {
    display: none;
  }
  .site-header .menu {
    border-top: none;
    clear: none;
    display: block;
    margin-top: 0;
    padding-top: 0;
    width: auto;
  }
  .site-header .menu li {
    float: left;
  }
  .site-header .menu li + li {
    margin-left: 30px;
  }
  .site-header .menu .link {
    float: left;
    margin-top: 13px;
    padding: 0;
  }
  .site-header .menu .btn {
    margin-top: 1px;
  }
}
.global-site-footer {
  background: #f5f6f9;
  font-family: 'Open Sans', sans-serif;
  color: #252525;
  text-align: left;
  width: 100%;
  padding-top: 40px;
  margin: 0;
}
@media screen and (max-width: 440px) {
  .global-site-footer {
    padding-top: 0;
  }
}
.global-site-footer .global-site-footer-container {
  max-width: 1100px;
  margin: 0 auto;
}
.global-site-footer .global-site-footer-container .product-links-row {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 40px 40px;
}
@media screen and (max-width: 440px) {
  .global-site-footer .global-site-footer-container .product-links-row {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  .global-site-footer .global-site-footer-container .product-links-row {
    flex-wrap: wrap;
  }
}
.global-site-footer .global-site-footer-container .product-links-row .product-link-block {
  flex: 1;
  margin-right: 20px;
  padding-left: 10px;
  border-left: 2px solid transparent;
}
@media screen and (max-width: 600px) {
  .global-site-footer .global-site-footer-container .product-links-row .product-link-block {
    width: 40%;
    margin: 0 20px 20px 0;
    flex: 0 0 40%;
  }
}
@media screen and (max-width: 440px) {
  .global-site-footer .global-site-footer-container .product-links-row .product-link-block {
    width: 100%;
    margin: 10px 0;
    flex: 0 0 100%;
  }
}
.global-site-footer .global-site-footer-container .product-links-row .product-link-block:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 600px) {
  .global-site-footer .global-site-footer-container .product-links-row .product-link-block:last-of-type {
    margin-right: 20px;
  }
}
.global-site-footer .global-site-footer-container .product-links-row .product-link-block.selected {
  border-left: 2px solid #475470;
}
.global-site-footer .global-site-footer-container .product-links-row .product-link-block a {
  text-decoration: none;
  color: #252525;
}
.global-site-footer .global-site-footer-container .product-links-row .product-link-block .product {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 10px;
}
.global-site-footer .global-site-footer-container .product-links-row .product-link-block .description {
  font-size: 12px;
  color: #AAB4C8;
  font-weight: 600;
}
.global-site-footer .footer-base-row {
  background: #e2e5ec;
  width: 100%;
  margin: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1075px) {
  .global-site-footer .footer-base-row {
    display: block;
    text-align: center;
  }
}
.global-site-footer .footer-base-row .site-footer-copyright {
  color: #475470;
  font-size: 11px;
  font-weight: 400;
}
@media screen and (max-width: 1075px) {
  .global-site-footer .footer-base-row .site-footer-copyright {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 440px) {
  .global-site-footer .footer-base-row .site-footer-copyright {
    font-size: 10px;
  }
}
.global-site-footer .footer-base-row .footer-links a {
  margin: 0 15px;
  color: #475470;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .global-site-footer .footer-base-row .footer-links a {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}
.site-secondary-header {
  background: #F2F5F9;
  height: 56px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #D9DDE6;
}
.site-secondary-header-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1400px;
}
.site-secondary-header-container a {
  display: none;
  width: 100%;
}
.site-secondary-header-container a:hover {
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9DDE6;
}
.site-secondary-header-container .site-secondary-header-dropdown-link {
  display: none;
}
.site-secondary-header-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.site-secondary-header-dropdown {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border-right: 1px solid #D9DDE6;
  border-left: 1px solid #D9DDE6;
  background-color: #F2F5F9;
  border-bottom: 1px solid #D9DDE6;
  margin-bottom: -1px;
}
.site-secondary-header-dropdown a:hover {
  background-color: #FFFFFF;
  border-bottom: none;
}
.site-secondary-header-dropdown .is-selected {
  color: #000000;
  display: block;
}
.site-secondary-header-dropdown.is-open .site-secondary-header-dropdown-link {
  display: block;
}
.site-secondary-header a {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  line-height: 55px;
  padding: 0 20px;
  text-align: left;
  text-decoration: none;
}
.site-secondary-header a.site-secondary-header-dropdown-arrow {
  background-image: url('//icons.jwplayer.com/icons/black/expand.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  content: '';
  display: block;
  height: 56px;
  line-height: 56px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 56px;
  z-index: 1;
}
@media (min-width: 900px) {
  .site-secondary-header-container {
    flex-direction: row;
  }
  .site-secondary-header-group {
    height: 100%;
    position: relative;
  }
  .site-secondary-header-dropdown .is-selected {
    position: relative;
  }
  .site-secondary-header-container > a {
    display: block;
    text-align: center;
    border-right: 1px solid #D9DDE6;
  }
  .site-secondary-header-group {
    flex: 2;
    height: 56px;
  }
  .site-secondary-header-container > a {
    flex: 1;
    position: relative;
  }
  .site-secondary-header a::before,
  .site-secondary-header-dropdown a::after,
  .site-secondary-header-dropdown.is-open::before {
    background-color: #FFFFFF;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }
  .site-secondary-header a::before {
    left: auto;
    right: 0;
  }
  .site-secondary-header-dropdown.is-open::before {
    bottom: 0;
    height: 1px;
    top: auto;
    width: 100%;
  }
  .site-secondary-header-dropdown-arrow::after {
    display: none;
  }
  .site-secondary-header-dropdown {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
.pagination.prev-next {
  border-top: solid 1px #cccccc;
  margin-top: 20px;
  padding-top: 10px;
}
.pagination.prev-next:before,
.pagination.prev-next:after {
  content: ' ';
  display: table;
}
.pagination.prev-next:after {
  clear: both;
}
@media (min-width: 480px) {
  .pagination.prev-next {
    margin-top: 30px;
    padding-top: 15px;
  }
}
@media (min-width: 960px) {
  .pagination.prev-next {
    margin-top: 40px;
    padding-top: 20px;
  }
}
.pagination.prev-next span {
  color: rgba(0, 0, 0, 0.2);
  line-height: 36px;
}
.pagination.prev-next a,
.pagination.prev-next span {
  float: left;
}
.pagination.prev-next a + a,
.pagination.prev-next span + a,
.pagination.prev-next a + span,
.pagination.prev-next span + span {
  float: right;
}
/* Data Patterns - Palettes */
.data-palette-a1 {
  fill: #f7bdad;
  color: #f7bdad;
}
.data-palette-a2 {
  fill: #e3949d;
  color: #e3949d;
}
.data-palette-a3 {
  fill: #ca7396;
  color: #ca7396;
}
.data-palette-a4 {
  fill: #a85895;
  color: #a85895;
}
.data-palette-a5 {
  fill: #784496;
  color: #784496;
}
.data-palette-a6 {
  fill: #263995;
  color: #263995;
}
.data-palette-b1 {
  fill: #a3ee87;
  color: #a3ee87;
}
.data-palette-b2 {
  fill: #00cb9a;
  color: #00cb9a;
}
.data-palette-b3 {
  fill: #00a3ac;
  color: #00a3ac;
}
.data-palette-b4 {
  fill: #0077ac;
  color: #0077ac;
}
.data-palette-b5 {
  fill: #004a93;
  color: #004a93;
}
.data-palette-b6 {
  fill: #131b60;
  color: #131b60;
}
.data-palette-c1 {
  fill: #f7c966;
  color: #f7c966;
}
.data-palette-c2 {
  fill: #f69958;
  color: #f69958;
}
.data-palette-c3 {
  fill: #e86a5c;
  color: #e86a5c;
}
.data-palette-c4 {
  fill: #cbce69;
  color: #cbce69;
}
.data-palette-c5 {
  fill: #9d2076;
  color: #9d2076;
}
.data-palette-c6 {
  fill: #5a1d7e;
  color: #5a1d7e;
}
/* Data Patterns - Single Hues */
.data-single-hue-a1 {
  fill: #cd3138;
  color: #cd3138;
}
.data-single-hue-a2 {
  fill: #da5550;
  color: #da5550;
}
.data-single-hue-a3 {
  fill: #e57369;
  color: #e57369;
}
.data-single-hue-a4 {
  fill: #ef8f84;
  color: #ef8f84;
}
.data-single-hue-a5 {
  fill: #f8aba0;
  color: #f8aba0;
}
.data-single-hue-a6 {
  fill: #ffc6bd;
  color: #ffc6bd;
}
.data-single-hue-b1 {
  fill: #459036;
  color: #459036;
}
.data-single-hue-b2 {
  fill: #64a652;
  color: #64a652;
}
.data-single-hue-b3 {
  fill: #82bb6f;
  color: #82bb6f;
}
.data-single-hue-b4 {
  fill: #9fd28c;
  color: #9fd28c;
}
.data-single-hue-b5 {
  fill: #bce8aa;
  color: #bce8aa;
}
.data-single-hue-b6 {
  fill: #daffc9;
  color: #daffc9;
}
.data-single-hue-c1 {
  fill: #0073b3;
  color: #0073b3;
}
.data-single-hue-c2 {
  fill: #2e8dc3;
  color: #2e8dc3;
}
.data-single-hue-c3 {
  fill: #51a7d2;
  color: #51a7d2;
}
.data-single-hue-c4 {
  fill: #74c1e0;
  color: #74c1e0;
}
.data-single-hue-c5 {
  fill: #98dbef;
  color: #98dbef;
}
.data-single-hue-c6 {
  fill: #bef5ff;
  color: #bef5ff;
}
/* Data Patterns - Color Scales */
.data-color-scale-a1 {
  fill: #dc6428;
  color: #dc6428;
}
.data-color-scale-a2 {
  fill: #e7b657;
  color: #e7b657;
}
.data-color-scale-a3 {
  fill: #f1feaf;
  color: #f1feaf;
}
.data-color-scale-a4 {
  fill: #81b987;
  color: #81b987;
}
.data-color-scale-a5 {
  fill: #1c7464;
  color: #1c7464;
}
.data-color-scale-b1 {
  fill: #a40444;
  color: #a40444;
}
.data-color-scale-b2 {
  fill: #d584ac;
  color: #d584ac;
}
.data-color-scale-b3 {
  fill: #ffe8ff;
  color: #ffe8ff;
}
.data-color-scale-b4 {
  fill: #9a85b9;
  color: #9a85b9;
}
.data-color-scale-b5 {
  fill: #04367c;
  color: #04367c;
}
.data-color-scale-c1 {
  fill: #d49c44;
  color: #d49c44;
}
.data-color-scale-c2 {
  fill: #ecc188;
  color: #ecc188;
}
.data-color-scale-c3 {
  fill: #ffead0;
  color: #ffead0;
}
.data-color-scale-c4 {
  fill: #e7a491;
  color: #e7a491;
}
.data-color-scale-c5 {
  fill: #c56077;
  color: #c56077;
}
.mkdocs-jwplayer {
  font-family: 'Open Sans', sans-serif;
}
.mkdocs-jwplayer body {
  margin: 0;
}
.mkdocs-jwplayer .scroll-to-top {
  align-items: center;
  background-color: rgba(170, 180, 200, 0.9);
  border-radius: 60px;
  bottom: 20px;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  opacity: 0;
  padding: 10px;
  position: fixed;
  right: 20px;
  text-align: center;
  transform: translateY(10px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out, visibility 200ms ease-in-out;
  visibility: hidden;
  width: 50px;
  z-index: 1;
}
.mkdocs-jwplayer .scroll-to-top.is-visible {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}
.mkdocs-jwplayer .scroll-to-top:hover {
  background-color: #475470;
}
.mkdocs-jwplayer .scroll-to-top img {
  display: block;
  height: auto;
  width: 15px;
}
.mkdocs-jwplayer.mkdocs-jwplayer-single-page {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
@media (min-width: 960px) {
  .mkdocs-jwplayer.mkdocs-jwplayer-single-page .site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  .mkdocs-jwplayer.mkdocs-jwplayer-single-page .site-bottom {
    overflow: scroll;
    position: relative;
  }
  .mkdocs-jwplayer.mkdocs-jwplayer-single-page .aside {
    bottom: 0;
    left: 0;
    overflow: scroll;
    padding-bottom: 0;
    position: fixed;
    top: 192px;
    width: 300px;
  }
  .mkdocs-jwplayer.mkdocs-jwplayer-single-page .main {
    margin-left: 300px;
  }
  .mkdocs-jwplayer.mkdocs-jwplayer-single-page .global-site-footer {
    height: 270px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
.mkdocs-jwplayer .page-header {
  font-family: 'Open Sans', sans-serif;
  background-color: #FFFFFF;
  border-bottom: solid 1px #D9DDE6;
  text-align: left;
}
.mkdocs-jwplayer .page-header:before,
.mkdocs-jwplayer .page-header:after {
  content: ' ';
  display: table;
}
.mkdocs-jwplayer .page-header:after {
  clear: both;
}
@media (min-width: 600px) {
  .mkdocs-jwplayer .page-header {
    padding: 20px 30px;
  }
}
@media (min-width: 960px) {
  .mkdocs-jwplayer .page-header {
    padding: 15px 40px;
  }
}
.mkdocs-jwplayer .page-header .page-label {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 20px;
}
@media (min-width: 600px) {
  .mkdocs-jwplayer .page-header .page-label {
    margin-bottom: 10px;
    padding: 0;
  }
}
@media (min-width: 960px) {
  .mkdocs-jwplayer .page-header .page-label {
    float: left;
    line-height: 40px;
    margin-bottom: 0;
  }
}
.mkdocs-jwplayer .page-header input[type=search],
.mkdocs-jwplayer .page-header input[type=text],
.mkdocs-jwplayer .page-header input[type=email],
.mkdocs-jwplayer .page-header select,
.mkdocs-jwplayer .page-header textarea {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #D9DDE6;
}
.mkdocs-jwplayer .page-header .search {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.mkdocs-jwplayer .page-header .search input {
  border-radius: 0;
  width: 100%;
}
@media (min-width: 600px) {
  .mkdocs-jwplayer .page-header .search input {
    border-radius: 2px;
  }
}
@media (min-width: 960px) {
  .mkdocs-jwplayer .page-header .search {
    float: right;
    width: auto;
  }
  .mkdocs-jwplayer .page-header .search input {
    width: 300px;
  }
}
.mkdocs-jwplayer .page-body {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
@media (min-width: 960px) {
  .mkdocs-jwplayer .page-body {
    display: flex;
    flex-direction: row;
  }
}
.mkdocs-jwplayer .aside {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px 40px 40px;
}
@media (min-width: 960px) {
  .mkdocs-jwplayer .aside {
    border-right: 1px solid #eceef2;
    flex: 1;
    max-width: 300px;
    padding-bottom: 80px;
  }
}
.mkdocs-jwplayer .aside li {
  font-size: 15px;
}
.mkdocs-jwplayer .aside li.active a {
  color: #FF0046;
}
.mkdocs-jwplayer .aside a {
  font-size: 15px;
  font-weight: 600;
  color: #252525;
}
.mkdocs-jwplayer .aside a:hover {
  background-color: transparent;
}
.mkdocs-jwplayer .aside ul {
  list-style: none;
  padding-top: 5px;
}
.mkdocs-jwplayer .aside ul li {
  font-size: 12px;
  display: block;
  border-top: 1px solid #eceef2;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  padding: 10px 0;
}
.mkdocs-jwplayer .aside ul li:first-of-type {
  border-top: 0;
}
.mkdocs-jwplayer .aside ul li span {
  color: #252525;
  font-size: 15px;
  font-weight: 600;
}
.mkdocs-jwplayer .aside ul li ul li {
  border: 0;
  padding: 0;
}
.mkdocs-jwplayer .aside ul li ul li:hover {
  background-color: #F2F5F9;
}
.mkdocs-jwplayer .aside ul li ul a {
  color: #000000;
  font-size: 12px;
  width: 100%;
  display: block;
  font-weight: 600;
  padding: 4px 0 4px 20px;
}
.mkdocs-jwplayer .aside ul li ul a:hover {
  text-decoration: none;
}
.mkdocs-jwplayer .aside .toc li {
  border-color: rgba(236, 238, 242, 0.48);
}
.mkdocs-jwplayer .aside .toc .sub-menu {
  display: none;
}
.mkdocs-jwplayer .aside .toc a {
  display: block;
}
.mkdocs-jwplayer .aside .toc .first-level {
  border-top: 1px solid rgba(236, 238, 242, 0.48);
}
.mkdocs-jwplayer .aside .toc .first-level:first-of-type {
  border-top: 0;
}
.mkdocs-jwplayer .aside .toc .first-level a {
  font-size: 13px;
}
.mkdocs-jwplayer .aside .toc .second-level {
  font-size: 13px;
}
.mkdocs-jwplayer .aside .toc .second-level a,
.mkdocs-jwplayer .aside .toc .second-level a:hover {
  text-decoration: none;
  font-size: 13px;
}
.mkdocs-jwplayer .aside .toc .third-level {
  border-top: 0;
  padding: 4px 0 4px 20px;
  margin-bottom: 10px;
}
.mkdocs-jwplayer .aside .toc .third-level:hover {
  background-color: #F2F5F9;
}
.mkdocs-jwplayer .aside .toc .third-level a,
.mkdocs-jwplayer .aside .toc .third-level a:hover {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
}
.mkdocs-jwplayer .aside .toc .second-level.is-parent.is-open + .sub-menu {
  display: block;
}
@media (min-width: 960px) {
  .mkdocs-jwplayer .aside .toc .second-level.is-parent {
    background-image: url(http://icons.jwplayer.com/icons/black/expand.svg);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 10px auto;
  }
  .mkdocs-jwplayer .aside .toc .second-level.is-parent:hover {
    background-image: url(https://icons.jwplayer.com/icons/color/expand-blue.svg);
  }
  .mkdocs-jwplayer .aside .toc .second-level.is-parent.is-open {
    background-image: url(http://icons.jwplayer.com/icons/black/collapse.svg);
  }
  .mkdocs-jwplayer .aside .toc .second-level.is-parent.is-open:hover {
    background-image: url(https://icons.jwplayer.com/icons/color/collapse-blue.svg);
  }
}
.mkdocs-jwplayer .main {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 40px;
  /* string  */
  /* keyword */
  /* comment */
  /* type */
  /* literal  */
  /* punctuation */
  /* plaintext */
  /* html/xml tag */
  /* html/xml attribute name */
  /* html/xml attribute value */
  /* decimal */
}
@media (min-width: 960px) {
  .mkdocs-jwplayer .main {
    flex: 1;
    max-width: 980px;
  }
}
.mkdocs-jwplayer .main .section {
  margin-bottom: 40px;
}
.mkdocs-jwplayer .main .output {
  background-color: #e6e6e6;
  border-radius: 4px;
  display: block;
  margin-bottom: 40px;
  padding: 20px;
  white-space: pre-wrap;
}
.mkdocs-jwplayer .main pre {
  padding: 25px;
  color: #F2F5F9;
  border-radius: 5px;
  border: none;
  white-space: pre-wrap;
  margin: 15px 0;
}
.mkdocs-jwplayer .main pre,
.mkdocs-jwplayer .main code {
  background-color: #242a38;
  color: #F2F5F9;
}
.mkdocs-jwplayer .main pre span:first-of-type,
.mkdocs-jwplayer .main code span:first-of-type {
  white-space: normal;
}
.mkdocs-jwplayer .main pre span,
.mkdocs-jwplayer .main code span {
  background-color: transparent;
  font-size: 15px;
}
.mkdocs-jwplayer .main pre .str,
.mkdocs-jwplayer .main code .str {
  color: #ffb44d;
}
.mkdocs-jwplayer .main pre .kwd,
.mkdocs-jwplayer .main code .kwd {
  color: #ff6b83;
}
.mkdocs-jwplayer .main pre .com,
.mkdocs-jwplayer .main code .com {
  color: #F2F5F9;
}
.mkdocs-jwplayer .main pre .typ,
.mkdocs-jwplayer .main code .typ {
  color: #0B7EF4;
}
.mkdocs-jwplayer .main pre .lit,
.mkdocs-jwplayer .main code .lit {
  color: #0B7EF4;
}
.mkdocs-jwplayer .main pre .pun,
.mkdocs-jwplayer .main code .pun {
  color: #F2F5F9;
}
.mkdocs-jwplayer .main pre .pln,
.mkdocs-jwplayer .main code .pln {
  color: #F2F5F9;
}
.mkdocs-jwplayer .main pre .tag,
.mkdocs-jwplayer .main code .tag {
  color: #ff6b83;
}
.mkdocs-jwplayer .main pre .atn,
.mkdocs-jwplayer .main code .atn {
  color: #66d9ef;
}
.mkdocs-jwplayer .main pre .atv,
.mkdocs-jwplayer .main code .atv {
  color: #ffb44d;
}
.mkdocs-jwplayer .main pre .dec,
.mkdocs-jwplayer .main code .dec {
  color: #F2F5F9;
}
.mkdocs-jwplayer .main pre.markdown span,
.mkdocs-jwplayer .main code.markdown,
.mkdocs-jwplayer .main code.markdown span {
  color: #F2F5F9;
  white-space: pre;
}
.mkdocs-jwplayer .main pre.markdown .com,
.mkdocs-jwplayer .main code.markdown .com {
  font-style: inherit;
}
.mkdocs-jwplayer .main code {
  padding: 0;
}
.mkdocs-jwplayer .main p code,
.mkdocs-jwplayer .main li code,
.mkdocs-jwplayer .main span code,
.mkdocs-jwplayer .main ul code,
.mkdocs-jwplayer .main .alert code,
.mkdocs-jwplayer .main table code,
.mkdocs-jwplayer .main p pre,
.mkdocs-jwplayer .main li pre,
.mkdocs-jwplayer .main span pre,
.mkdocs-jwplayer .main ul pre,
.mkdocs-jwplayer .main .alert pre,
.mkdocs-jwplayer .main table pre {
  background-color: rgba(217, 221, 230, 0.25);
  border: 1px solid #D9DDE6;
  padding: 3px 4px;
  color: #252525;
  font-family: Monaco, 'Lucida Sans Typewriter', Consolas, 'Lucida Console', 'Courier New', monospace;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
}
.mkdocs-jwplayer .main .alert {
  background-color: #F2F5F9;
  color: #252525;
  font-size: 13px;
  font-weight: 400;
  margin: 20px 0;
  padding: 60px 20px 20px 20px;
  position: relative;
}
.mkdocs-jwplayer .main .alert .alert + .alert {
  margin-top: -20px;
}
.mkdocs-jwplayer .main .alert:before {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
  background-color: #AAB4C8;
  content: 'Note';
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-size: 12px;
}
.mkdocs-jwplayer .main .alert.warning {
  background-color: #fff8e5;
}
.mkdocs-jwplayer .main .alert.warning:before {
  background-color: #FFB600;
  content: 'Warning';
}
.mkdocs-jwplayer .main .alert.important {
  background-color: #e5f9f0;
}
.mkdocs-jwplayer .main .alert.important:before {
  background-color: #00C669;
  content: 'Important';
}
.mkdocs-jwplayer .main .alert.tip {
  background-color: #edf7ff;
}
.mkdocs-jwplayer .main .alert.tip:before {
  background-color: rgba(11, 126, 244, 0.3);
  content: 'Tip';
}
.mkdocs-jwplayer .main hr {
  background-color: #eceef2;
}
.mkdocs-jwplayer .main h1,
.mkdocs-jwplayer .main h2,
.mkdocs-jwplayer .main h3,
.mkdocs-jwplayer .main h4,
.mkdocs-jwplayer .main h5,
.mkdocs-jwplayer .main h6,
.mkdocs-jwplayer .main p {
  font-family: 'Open Sans', sans-serif;
  margin: 12px 0 0;
}
.mkdocs-jwplayer .main h1 {
  font-size: 28px;
  font-weight: 400;
  color: #252525;
  margin-top: 0;
}
.mkdocs-jwplayer .main h2 {
  font-weight: 700;
  font-size: 19px;
  margin-top: 20px;
}
.mkdocs-jwplayer .main h2#this-is-an-h2-header,
.mkdocs-jwplayer .main h2#overview {
  border-top: 0;
  padding-top: 0;
}
.mkdocs-jwplayer .main h3 {
  font-size: 15px;
  padding: 10px 0;
  border-bottom: 2px solid #D9DDE6;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 20px;
}
.mkdocs-jwplayer .main h4 {
  color: #252525;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 20px;
}
.mkdocs-jwplayer .main p {
  font-size: 15px;
  color: #252525;
  font-weight: 400;
  line-height: 1.6em;
}
.mkdocs-jwplayer .main strong {
  font-weight: 600;
}
.mkdocs-jwplayer .main a.btn {
  background-color: #000000;
  font-weight: 500;
}
.mkdocs-jwplayer .main a,
.mkdocs-jwplayer .main a:hover,
.mkdocs-jwplayer .main a:visited {
  font-weight: 600;
  text-decoration: none;
  color: #0B7EF4;
}
.mkdocs-jwplayer .main a.btn,
.mkdocs-jwplayer .main a:hover.btn,
.mkdocs-jwplayer .main a:visited.btn {
  color: #fff;
  font-weight: 600;
}
.mkdocs-jwplayer .main h5,
.mkdocs-jwplayer .main h6 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.mkdocs-jwplayer .main h6 {
  font-size: 15px;
  color: #475470;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  font-style: italic;
}
.mkdocs-jwplayer .main img {
  margin: 10px 0;
}
.mkdocs-jwplayer .main .headerlink {
  color: #D9DDE6;
  text-decoration: none;
  visibility: hidden;
}
.mkdocs-jwplayer .main .headerlink:after {
  background-image: url(http://icons.jwplayer.com/icons/black/link.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 18px;
  opacity: 0.1;
  transition: opacity 150ms ease;
  visibility: visible;
  width: 18px;
}
.mkdocs-jwplayer .main .headerlink:hover:after {
  opacity: 0.2;
}
.mkdocs-jwplayer .main ul:not(.jw-rightclick-list),
.mkdocs-jwplayer .main ol {
  padding: 0 50px;
}
.mkdocs-jwplayer .main ul:not(.jw-rightclick-list) li,
.mkdocs-jwplayer .main ol li {
  line-height: 1.7em;
  padding: 5px 0;
}
.mkdocs-jwplayer .main ul:not(.jw-rightclick-list) {
  list-style-type: none;
  list-style-position: inside;
  text-indent: -1.5em;
}
.mkdocs-jwplayer .main ul:not(.jw-rightclick-list) li {
  font-weight: 600;
  font-size: 13px;
  color: #252525;
}
.mkdocs-jwplayer .main ul:not(.jw-rightclick-list) li:before {
  color: #000000;
  content: "\2022";
  font-size: 26px;
  padding-right: 0.4em;
  position: relative;
  top: 5px;
}
.mkdocs-jwplayer .main ol {
  counter-reset: item;
  line-height: 14px;
}
.mkdocs-jwplayer .main ol > li {
  margin: 0;
  color: #252525;
  padding: 0.4em 0 0 0.5em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
  font-weight: 400;
  font-size: 13px;
}
.mkdocs-jwplayer .main ol > li:before {
  display: inline-block;
  width: 1.5em;
  padding-right: 0.6em;
  font-weight: 700;
  text-align: right;
  content: counter(item) ".";
}
.mkdocs-jwplayer .main table,
.mkdocs-jwplayer .main td,
.mkdocs-jwplayer .main th {
  font-family: Arial, sans-serif, sans-serif;
  color: #252525;
  font-size: 13px;
  padding: 10px;
  border: 1px solid #D9DDE6;
}
.mkdocs-jwplayer .main table {
  margin: 20px 30px 10px 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.mkdocs-jwplayer .main table th {
  background-color: rgba(11, 126, 244, 0.1);
  color: #0F4E90;
  font-size: 12px;
  text-transform: uppercase;
}
.mkdocs-jwplayer .main img {
  display: inline-block;
  max-width: 100%;
}
.mkdocs-jwplayer .main blockquote {
  padding: 0 40px;
}
.mkdocs-jwplayer .main .jwplayer {
  margin: 20px 0;
}
.mkdocs-jwplayer .main dl {
  margin: 0 0 20px;
}
.mkdocs-jwplayer .main dl dt {
  margin-bottom: 20px;
}
.mkdocs-jwplayer .main dl dt tt {
  background-color: rgba(11, 126, 244, 0.1);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px 4px;
}
.mkdocs-jwplayer .main dl dd dt tt {
  background-color: rgba(0, 0, 0, 0.05);
  border-top: solid 2px rgba(0, 0, 0, 0.1);
}
.mkdocs-jwplayer .main t tt.docutils.literal {
  background-color: #fff;
  border: solid 2px rgba(0, 0, 0, 0.1);
  color: #97052D;
}
.mkdocs-jwplayer .main t tt.docutils.literal .pre {
  background-color: transparent;
  border: none;
  color: #97052D;
}
.md-fenced-code-tabs * {
  box-sizing: border-box;
}
.md-fenced-code-tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  background-color: #F2F5F9;
  border-radius: 5px;
  margin: 30px 0;
  padding-top: 10px;
  border: 1px solid #D9DDE6;
}
.md-fenced-code-tabs input {
  position: absolute;
  opacity: 0;
}
.md-fenced-code-tabs label {
  width: auto;
  padding: 4px 20px;
  margin: 0;
  cursor: pointer;
  color: #0B7EF4;
}
.md-fenced-code-tabs label:first-of-type {
  padding-left: 30px;
}
.md-fenced-code-tabs input:checked + label {
  color: #AAB4C8;
}
.md-fenced-code-tabs .code-tabpanel {
  display: none;
  width: 100%;
  order: 99;
}
.md-fenced-code-tabs input:checked + label + .code-tabpanel {
  display: flex;
  margin-bottom: -16px;
}
.md-fenced-code-tabs input:checked + label + .code-tabpanel pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.md-fenced-code-tabs pre,
.md-fenced-code-tabs .codehilite {
  width: 100%;
  margin: 0px;
}
