{% for toc_item in toc %}
  <li class="first-level {% if toc_item.active %}active{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
  {% for toc_item in toc_item.children %}
    <li class="second-level {% if toc_item.children %}is-parent{% endif %}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
		{% if toc_item.children %}
	  	<div class="sub-menu">
	    	{% for toc_item in toc_item.children %}
	      	<li class="third-level"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
	    	{% endfor %}
	  	</div>
		{% endif %}
  {% endfor %}
{% endfor %}
