pre {
	background-color: #475470;
	border-radius: 3px;
	color: #fff;
	padding: 20px;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
}

img {
	margin: 10px 0;
}

table {
	background-color: #fff;
}